*.fdb_latexmk
Protokoll/template.aux
*.fls
Protokoll/template.log
Protokoll/template.synctex.gz
berechnungen.nb
*.gz
Protokoll/template.log
*.fls
Protokoll/template.aux
*.fdb_latexmk
*.aux
Protokoll/lum.log
*.nb
berechnungen.nb